//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here
.autocomplete__wrapper * {

  @include govuk-typography-common();

}

.information-box {
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 50px;
    background: #f3f2f1;
}

@media screen and (min-width: 767px) {
    .language-select {
        margin-bottom: -10px;
    }
}

.language-select {
    margin: 15px 0 5px 0;
}

nav {
    display: block;
    unicode-bidi: isolate;
}

.language-select__list {
    margin-top: 1em;
    text-align: right;
}

.language-select__list-item {
    display: inline-block;
}

.language-select__list {
    margin-top: 1em;
    text-align: right;
}

.language-select__list-item a, .language-select__list-item [aria-current] {
    padding: 0.3125em;
}