{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}

{% block pageTitle %}
  Relationship to child – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="are-you-married2" method="post">

        {{ govukRadios({
          idPrefix: "relationship-to-child",
          name: "relationshipToChild",
          fieldset: {
            legend: {
              text: "Who are you to the child?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Only certain people can register the birth"
          },
          items: [
            { value: "birth-mother", 
              text: "Birth mother", 
              hint: { text: "The person who gave birth to the child" }
            },
            { value: "father", 
              text: "Father", 
              hint: { text: "Biological father or person involved in fertility treatment" }
            }, 
            { value: "female-parent", 
              text: "Female parent", 
              hint: { text: "Person who ..." }
            }, 
            { value: "someone-else", 
              text: "Someone else, such as a family member", 
              hint: { text: "In certain circumstances person other than parent can provide information for the birth registration" }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
