{% extends "layouts/main.html" %}

{% block pageTitle %}
  Relationship to child – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <form class="form" action="fertility-treatment" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Did you conceive the child (get pregnant) through fertility treatment?
              </h1>
            </legend>
            
            <p>This is not recorded in the registration. You do not need to provide any documents.</p>

            <p>We need to check the father can be recorded as the father  if not the biological parent.</p>
            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="second-parent-2" name="second-parent" type="radio" value="Father">
                <label class="govuk-label govuk-radios__label" for="second-parent-2">
                  No
                </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="second-parent-3" name="second-parent" type="radio" value="Parent">
                <label class="govuk-label govuk-radios__label" for="second-parent-3">
                  Yes
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
