{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}

{% block pageTitle %}
   Register a birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Register a birth
        </h1>

        <p class="govuk-body">Before you start, we need some information to check:</p>
 

        <ul class="govuk-list govuk-list--bullet">
          <li>whether you can register the birth</li>
          <li>what information you’ll need to give</li>
          <li>if you need to provide any documents</li>
        </ul>

      {{ govukButton({
        text: "Continue",
        href: "relationship-to-child"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
