{% extends "layouts/main.html" %}

{% block pageTitle %}
   Register a birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Invitation to join a birth registration
        </h1>

        <h2 class="govuk-heading-l">
            About this invitation
        </h2>

        <p class="govuk-body">The child’s mother starts the online process for a birth registration.</p>

        <p class="govuk-body">This invitation is for the child’s father or parent to join the registration.</p>

        <p class="govuk-body">We cannot show any details about the mother or the child until you verify your identity.</p>

        <h2 class="govuk-heading-l">
            About birth registration
        </h2>

        <p class="govuk-body">Registration is the official record of someone’s birth including:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>child’s name, date and place of birth</li>
            <li>mother’s name, place of birth, and job role</li>
            <li>{father/parent}’s name, place of birth and job role</li>
          </ul>

        <p class="govuk-body">You can order birth certifcates after the registration. Birth certificates can be used to access services, for example to prove the birth took place or your relationship to the child.</p>

        <h2 class="govuk-heading-l">
            Providing information
        </h2>

       <p class="govuk-body">The mother has started the process, and entered some information. </p>
        <p class="govuk-body">You’ll need to:</p>
       
          <ul class="govuk-list govuk-list--bullet">
            <li>check the information provided by the mother  - the child’s and mother’s details </li>
            <li>provide your own details for the father or parent details </li>
            <li>confirm you agree to register with the details provided </li>
          </ul>

        <p class="govuk-body">You cannot submit the completed information unless both parents agree to all the information in the registration.</p>

        <h2 class="govuk-heading-l">
            Joining the registration
        </h2>

        <p class="govuk-body">Continue to verify your identity on GOV.UK - you can create an account or sign in.</p>


      {{ govukButton({
        text: "Join registration",
        href: "one-login-sign-in.html"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
