{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Registration has been submitted
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>111 222 333</strong>
        </div>
      </div>

      <p>
       You’ll get a confirmation email or text. 
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p>
       We will send your application to Haringey Register Office.
      </p>

      <p class="govuk-body">The Register Office will:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>check the information</li>
        <li>contact you with any questions</li>
        <li>officially add the birth to the register</li>
      </ul>

      <h2 class="govuk-heading-m">
        How long it takes
      </h2>
<p class="govuk-body">It takes up to 3 weeks for register offices to:</p>
<ul class="<ul class="govuk-list govuk-list--bullet">
  <li>
    check the application
  </li>
  <li>
    officially register the birth
  </li>
  <li>
    print and send birth certificates (delivery time depends on the register office)
  </li>
</ul>
<p>
       You’ll get tracking updates when the birth has been officially registered. 
      </p>

      <h2 class="govuk-heading-m">
       Getting in touch
      </h2>

      <p class="govuk-body">
      You’ll get tracking updates when your birth is officially registered, and any certificates have been sent.</p>

      <p class="govuk-body">Contact following Register Office if your situation changes:</p>

       <p>
        Haringey Register Office<br>
        George Meehan House<br>
       294 High Road<br>
        N22 8JZ<br>
      </p>
    </div>
  </div>

{% endblock %}
