{% extends "layouts/main.html" %}

{% block pageTitle %}
   Register a birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Before you submit
        </h1>

        <h2 class="govuk-heading-l">
            Final check of birth registration details
        </h2>

        <p class="govuk-body">
          Check the information you and the {father/parent} are providing for the birth registration.
        </p>

         <p class="govuk-body">
          Mistakes or errors can be changed after the registration - there's usually a fee.
         </p>

         <h2 class="govuk-heading-l">
            Order copies of the birth certificate (optional)
        </h2>

        <p class="govuk-body">
          Birth certificates are £12.50 each, including delivery by post or collection from the register office
        </p>

        <p class="govuk-body">
          You can also order copies at any time after the registration. 
        </p>

      {{ govukButton({
        text: "Continue",
        href: "registration-details.html"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
