{% extends "layouts/main.html" %}

{% block pageTitle %}
  Relationship to child – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
   
      <form class="form" action="sign-parenthood-agreement" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                Did you sign a parenthood agreement at a licensed UK clinic (where you got fertility treatment)?
              </h1>
            </legend>
            
            <div class="govuk-radios" data-module="govuk-radios">
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="parenthood-agreement-yes" name="parenthoodAgreement" type="radio" value="yes" {{checked("parenthoodAgreement", "yes")}}>
                <label class="govuk-label govuk-radios__label" for="parenthood-agreement-yes">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="parenthood-agreement-no" name="parenthoodAgreement" type="radio" value="no" {{checked("parenthoodAgreement", "no")}}>
                <label class="govuk-label govuk-radios__label" for="parenthood-agreement-no">
                  No
                </label>
              </div>
              
            </div>
          </fieldset>
        </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
