{% extends "layouts/main.html" %}


{% block pageTitle %}
   Mother’s previous marriages or Civil Partnerships – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<form class="form" action="experienced-stillbiths" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['who-registers'] == 'single-mother' %}
        <span class="govuk-caption-xl">Part 3 of 3: Information for government services</span>  
      {%else %}
        <span class="govuk-caption-xl">Part 4 of 4: Information for government services</span>  
      {% endif %}  
      <h1 class="govuk-heading-xl">
       Previous births 
      </h1>

      <p class="govuk-body">
        This information is required by law, and it’s supplied only to the UK Statistics Authority.
      </p>
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              Has the mother given birth before?
            </legend>
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="date-of-birth-mother" name="date-of-birth-mother" type="radio" value="yes" {{checked("date-of-birth-mother", "Yes")}} data-aria-controls="conditional-DOB">
                <label class="govuk-label govuk-radios__label" for="date-of-birth-mother">
                 Yes
                </label>
              </div>
              <div class="govuk-radios__conditional" id="conditional-DOB">
                <div class="govuk-form-group">
                      <div class="govuk-date-input" id="mother-DOB">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="previous-births">
                              Number of children, excluding any stillbirths
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-10" id="previous-births" name="previous-births" type="text" inputmode="numeric" value="{{ data['previous-births'] }}" >
                          </div>
                        </div>
                        
                      </div>
                </div>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="date-of-birth-mother" name="date-of-birth-mother" type="radio" value="no" {{checked("date-of-birth-mother", "No, I do not know the date of birth")}} >
                <label class="govuk-label govuk-radios__label" for="date-of-birth-mother">
                  No
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="date-of-birth-mother" name="date-of-birth-mother" type="radio" value="dont-want-to-asnwer" {{checked("date-of-birth-mother", "I do not want to answer")}} >
                <label class="govuk-label govuk-radios__label" for="date-of-birth-mother">
                  I do not know
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="date-of-birth-mother" name="date-of-birth-mother" type="radio" value="dont-want-to-asnwer" {{checked("date-of-birth-mother", "I do not want to answer")}} >
                <label class="govuk-label govuk-radios__label" for="date-of-birth-mother">
                  I do not want to answer
                </label>
              </div>
            </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
