{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}

{% block pageTitle %}
   Register a birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Register a birth
        </h1>

        <p class="govuk-body">We’ll collect details - such as names, addresses, dates of birth - in sections about the:</p>

        <ol class="govuk-list govuk-list--bullet">
          <li>Child</li>
          <li>Birth mother</li>
          <li>Second parent</li>
        </ol>

       <p class="govuk-body">Some addition questions are for government statistics. For example, parents' occupations or previous pregnancies.</p>

        <p class="govuk-body">You can save your answers if you need to close the service.</p>

      {{ govukButton({
        text: "Continue to child’s details",
        href: "child-details/name"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
