{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Ready to discuss changes
        </h1>
      </div>

      <p>
        The mother can now edit the information they provided about the mother or child. 
      </p>

      <h2 class="govuk-heading-l">
        How to request changes
      </h2>

      <p class="govuk-body">You must contact the mother outside the online service to discuss any changes,</p>

      <p class="govuk-body">You must both agree on the final information to recorded in the registration.</p>

      <p class="govuk-body">You get an email notification when the mother has confirmed the information is ready to review.</p>


    </div>
  </div>

{% endblock %}
