{% extends "layouts/main.html" %}


{% block pageTitle %}
   Is the current name maiden name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data ['declaration-change'] == 'true'%}
  <form class="form" action="../declaration/declaration" method="post">
{% elif data['change-link-mother'] == 'true' %}
  <form class="form" action="check-details" method="post">
{% else %}
<form class="form" action="formerly-known-as" method="post">
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <span class="govuk-caption-xl">Part 2 of 4: Mother’s details</span>    
        <h1 class="govuk-heading-xl">
         Any other previously used names
        </h1>

        <p class="govuk-body">
      Names that the birth mother used in the past. 
      </p>

      <p class="govuk-body">
        It’s a personal choice to add any other previous names.
      </p>

       <p class="govuk-body">
        It’s a personal choice to include an additional name. 
      </p>

       <p class="govuk-body">
        For example, if they are still associated with the name, such as a previous last name is used by their other children. 
      </p>
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h2 class="govuk-fieldset__heading">
               Add a previous name to birth certificate?
              </h2>
            </legend>
           
            <div id="changedName-hint" class="govuk-hint">
              Previously used names are printed on the birth certificate alongside name at time of birth
            </div>
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="former-name-1" name="former-name" type="radio" value="Yes" {{checked("former-name", "Yes")}} >
                <label class="govuk-label govuk-radios__label" for="former-name-1">
                 Yes
                </label>
              </div>
              
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="former-name-2" name="former-name" type="radio" value= "No" {{checked("former-name", "No")}} >
                <label class="govuk-label govuk-radios__label" for="former-name-2">
                  No
                </label>
              </div>
              
            </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
