{% extends "layouts/main.html" %}

{% block pageTitle %}
   parent'now-s name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data ['declaration-change'] == 'true'%}
  <form class="form" action="../declaration/declaration" method="post">
{% elif data['change-link-parent'] == 'true' %}
  <form class="form" action="check-details" method="post">
{% else %}
<form class="form" action="other-names" method="post">
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Part 2 of 3: Father’s details</span>
      <h1 class="govuk-heading-xl">
      What’s the current name used?
      </h1>
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
         
           <div class="govuk-form-group">
            <label class="govuk-label" for="parent-now-first-name">
              First name
            </label>
            
            <input class="govuk-input" id="parent-now-first-name" name="parent-now-first-name" type="text" value="{{ data['parent-now-first-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="parent-now-middle-name">
              Middle names (optional)
            </label>
            <input class="govuk-input" id="parent-now-middle-name" name="parent-now-middle-name" type="text" value="{{ data['parent-now-middle-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="parent-now-last-name">
              Last name
            </label>
            <input class="govuk-input" id="parent-now-last-name" name="parent-now-last-name" type="text" value="{{ data['parent-now-last-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="parent-now-prefix">
              Hereditary or bestowed titles (optional)
            </label>
            <div id="child-first-name-hint" class="govuk-hint">
              Do not include titles such as ‘Mr’ or ‘Miss’. Only add legally inherited or awarded titles, such as ‘Lady’ or ‘OBE’
            </div>
            <input class="govuk-input" id="parent-now-prefix" name="parent-now-prefix" type="text" value="{{ data['parent-now-prefix'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="parent-now-suffix">
              Suffix (optional)
            </label>
           <div id="child-first-name-hint" class="govuk-hint">
              Suffix is used for familial relationships (like Jr. or Sr.), qualifications (like PhD or Esq.), or awards (such as OBE)
            </div>
            <input class="govuk-input" id="parent-now-suffix" name="parent-snow-uffix" type="text" value="{{ data['parent-now-suffix'] }}">
          </div>
        </fieldset>
      </div>
     

      {{ govukButton({
        text: "Save and continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
