{% extends "layouts/main.html" %}


{% block pageTitle %}
   Is the mother a Spanish national – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data['registeringOtherParent'] == 'no' %}
<form class="form" action="was-mother-married-before" method="post">
{% else %} 
<form class="form" action="date-of-birth-parent" method="post">
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              {% if data['who-registers'] == 'single-mother' %}
                <span class="govuk-caption-xl">Part 3 of 3: Survey for government statistics and reporting</span>  
              {%else %}
                <span class="govuk-caption-xl">Part 4 of 4: Survey for government statistics and reporting</span>  
              {% endif %}
              <h1 class="govuk-fieldset__heading">
               Is the mother a Spanish national?
              </h1>
            </legend>

            <div id="spanishNational-hint" class="govuk-hint">
              This information is sent to Spanish consular (embassy) to measure Spanish nationals living in England and Wales.
            </div>
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mother-spanish-national" name="mother-spanish-national" type="radio" value="yes" {{checked("mother-spanish-national", "Yes")}}>
                <label class="govuk-label govuk-radios__label" for="mother-spanish-national">
                 Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mother-spanish-national" name="mother-spanish-national" type="radio" value="no" {{checked("mother-spanish-national", "No")}}>
                <label class="govuk-label govuk-radios__label" for="mother-spanish-national">
                  No
                </label>
              </div>
               <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="mother-spanish-national" name="mother-spanish-national" type="radio" value="unknown" {{checked("mother-spanish-national", "Unknown")}}>
                <label class="govuk-label govuk-radios__label" for="mother-spanish-national">
                  I do not know
                </label>
              </div>
            </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
