{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Registering a child with parents who are not married
      </h1>
      <p class="govuk-body">You can register a child online, or in person at a register office.</p>

      <h2 class="govuk-heading-m">
        Registering online
      </h2>

      <p class="govuk-body">Either parent can start the online process to register a birth. Both parents will electronically sign the registration.</p>
      <p class="govuk-body">Identity is checked by GOV.UK One Login, which works in a similar way to Government Gateway.</p>
      <p class="govuk-body">After you provide the information:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a local register office will check the information</li>
        <li>a registrar will add the child’s birth to the register </li>
        <li>birth certificates are sent by post</li>
      </ul>

      <h2 class="govuk-heading-m">
        Registering in person
      </h2>

      <p class="govuk-body">You’ll make an appointment at the register office for the area your child was born.</p>
      <p class="govuk-body">Both parents must attend the same appointment. 
Otherwise you cannot both be named as parents on the birth certificate.</p>

      <p class="govuk-body">You do not need to take your child.</p>
      <h3 class="govuk-heading-s">
        If you cannot attend together
      </h3>
      <p class="govuk-body">One parent can register if you <a href="https://www.gov.uk/parental-rights-responsibilities/apply-for-parental-responsibility"> get a parental responsibility agreement or court order</a>.</p>
      <form class="form" action="/" method="post">
        {{ govukRadios({
          idPrefix: "register-method",
          name: "registerMethod",
          fieldset: {
            legend: {
              text: "Select how you’ll register the birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            { value: "online", text: "Register online" },
            { value: "inPerson", text: "Register in person" }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
