{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registration options – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Registering a child with parents who are married
      </h1>
      <p class="govuk-body">You can register a child online, or in person at a register office. </p>

      <h2 class="govuk-heading-m">
        Registering online
      </h2>

      <p class="govuk-body">One parent can start and provide the registration  information on the online service.</p>
      <p class="govuk-body">Identity is checked by GOV.UK One Login, which works in a similar way to Government Gateway.</p>
      <p class="govuk-body">After you provide the information:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a local register office will check the information</li>
        <li>a registrar will add the child’s birth to the register</li>
        <li>birth certificates are sent by post</li>
      </ul>

      <h2 class="govuk-heading-m">
        Registering in person
      </h2>

      <p class="govuk-body">You’ll make an appointment at the register office for the area your child was born. </p>
      <p class="govuk-body">Only one parent is required to attend the appointment. You do not need to take your child. </p>
      <p class="govuk-body">You’ll get birth certificates at the appointment.</p>

      <form class="form" action="/" method="post">
        {{ govukRadios({
          idPrefix: "register-method",
          name: "registerMethod",
          fieldset: {
            legend: {
              text: "Select how you’ll register the birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            { value: "online", text: "Register online" },
            { value: "inPerson", text: "Register in person" }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
