{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registration options – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
     
      <h1 class="govuk-heading-xl">
        Register a birth: same-sex parents (married or in a civil partnership)
      </h1>

      <p class="govuk-body">In UK legislation, same-sex female parents be registered as: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the Mother (the person who gave birth to the child)</li>
        <li>the Parent (the Mother’s female partner)</li>
      </ul>

      <p class="govuk-body">Parents must be married at the time of fertility treatment.</p>

      <h2 class="govuk-heading-l">
        Registering online
      </h2>

      <p class="govuk-body">One parent can complete the registration online, including ordering birth certificates.</p>

      <p class="govuk-body">Your identity will be checked by GOV.UK One Login. This works in a similar way to Government Gateway.</p>

      <p class="govuk-body">After you submit the form, a registrar at the council will complete the official registration.</p>

      <p class="govuk-body">Birth certificates will be sent by post. They cost £12.50 each (standard delivery).</p>

       <h2 class="govuk-heading-l">
       In person registration
      </h2>

      <p class="govuk-body">You’ll make an appointment at the register office for the area your child was born.</p>

      <p class="govuk-body">Only one parent is required to attend the appointment. You do not need to take your child.</p>

      <p class="govuk-body">You’ll get birth certificates at the appointment. Each birth certificate costs £12.50.</p>

      <h3 class="govuk-heading-m">
        Same-sex male couples
      </h3>

      <p class="govuk-body">Male couples must <a href="https://www.gov.uk/legal-rights-when-using-surrogates-and-donors/become-the-childs-legal-parent">get a parental order</a> from the court before they can be registered as parents.</p>
      <p class="govuk-body">The Mother (the person who gave birth to the child) must be recorded in the birth registration.</p>


      <form class="form" action="/" method="post">
        {{ govukRadios({
          idPrefix: "register-method",
          name: "registerMethod",
          fieldset: {
            legend: {
              text: "Select how you’ll register the birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            { value: "online", text: "Online" },
            { value: "inPerson", text: "In person" }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
