{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <h1 class="govuk-heading-xl">
        Register a birth: mother only
      </h1>

      <h2 class="govuk-heading-l">
       Registering online
       </h2>

       <p class="govuk-body">You can complete the registration online, including ordering birth certificates.</p>
       <p class="govuk-body">Your identity will be checked by GOV.UK One Login. This works in a similar way to Government Gateway.</p>
       <p class="govuk-body">After you submit the form, a registrar at the council will complete the official registration.</p>
       <p class="govuk-body">Birth certificates will be sent by post. They cost £12.50 each (standard delivery).</p>

      <h2 class="govuk-heading-l">
       In person registration
       </h2>

      <p class="govuk-body">You’ll make an appointment at the register office for the area your child was born.</p>
      <p class="govuk-body">You do not need to attend with your child.</p>
      <p class="govuk-body">You’ll get birth certificates at the appointment. Each birth certificate costs £12.50.</p>

      <form class="form" action="/" method="post">
        {{ govukRadios({
          idPrefix: "register-method",
          name: "registerMethod",
          fieldset: {
            legend: {
              text: "Select how you’ll register the birth",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            { value: "online", text: "Online" },
            { value: "inPerson", text: "In person" }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
