{% extends "layouts/main.html" %}


{% block pageTitle %}
   Find NHS record – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
        <h1 class="govuk-heading-xl">
             Checking NHS data about the birth
        </h1>
  
      <p class="govuk-body">For security, we’ll ask for some information to match your details with NHS data.</p>
      <p class="govuk-body">This is to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>make sure the birth took place</li>
        <li>prevent fraud </li>

      </ul>


      {{ govukButton({
        text: "Continue",
        href: "enter-nhs-number"
      }) }}

      
    </div>


  </div>

{% endblock %}
