{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}

{% block pageTitle %}
   Child's details – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<form class="form" action="child-details" method="post">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
     <span class="govuk-caption-xl">Part 1 of 4: Child’s details</span>
      <h1 class="govuk-heading-xl">
        Child's details
      </h1>

      <div class="govuk-inset-text">
        Information will be shown on the birth certificate exactly as provided in this service
      </div>
  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['prefix'] }} {{ data['child-first-name'] or 'Ann'}} {{ data['child-middle-name'] or 'Sylvia'}} {{ data['child-last-name'] or 'Willson' }} {{ data['suffix'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="name-change.html">Change<span class="govuk-visually-hidden">name</span></a>
          </dd>
        </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['child-DOB-day'] or '15'}} {{ data['child-DOB-month'] or 'June' }} {{ data['child-DOB-year'] or '2025' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="date-of-birth.html">Change<span class="govuk-visually-hidden">date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sex
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["sex"] or 'Male' }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="sex-change.html">Change<span class="govuk-visually-hidden">sex</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Place of birth
            </dt>
            <dd class="govuk-summary-list__value">
            {{data['choose-country'] or 'Hospital, Long Street, N16 9RE'}} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="place-of-birth-change.html">Change<span class="govuk-visually-hidden">place of birth</span></a>
            </dd>
          </div>
    </dl>


      {{ govukButton({
        text: "Continue to Mother’s details",
        href: "../mother-details/name-change.html"
      }) }}

      
    </div>


  </div>
</form>

{% endblock %}
