{% extends "layouts/main.html" %}


{% block pageTitle %}
   Date of birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data ['declaration-change'] == 'true'%}
  <form class="form" action="../declaration/declaration" method="post">
{% elif data['change-link'] == 'true' %}
  <form class="form" action="child-details" method="post">
{% else %}
  <form class="form" action="sex-change" method="post">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">Part 1 of 4: Child’s details</span>    
              <h1 class="govuk-fieldset__heading">
                Date of birth
              </h1>
            </legend>
                      
                      <div id="child-DOB-hint" class="govuk-hint">
                        For example, 23 11 2024
                      </div>
                      <div class="govuk-date-input" id="child-DOB">
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="child-DOB-day">
                              Day
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child-DOB-day" name="child-DOB-day" type="text" inputmode="numeric" value="{{ data['child-DOB-day'] }}">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="child-DOB-month">
                              Month
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child-DOB-month" name="child-DOB-month" type="text" inputmode="numeric" value="{{ data['child-DOB-month'] }}">
                          </div>
                        </div>
                        <div class="govuk-date-input__item">
                          <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="child-DOB-year">
                              Year
                            </label>
                            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="child-DOB-year" name="child-DOB-year" type="text" inputmode="numeric" value="{{ data['child-DOB-year'] }}">
                          </div>
                        </div>
                      </div>
           
        </fieldset>
      </div>
     
   

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
