{% extends "layouts/main.html" %}



{% block pageTitle %}
   City or town parent was born – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data ['declaration-change'] == 'true'%}
  <form class="form" action="../declaration/declaration" method="post">
{% elif data['change-link-parent'] == 'true' %}
  <form class="form" action="check-details" method="post">
{% else %}
<form class="form" action="is-current-address-same" method="post">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend label class="govuk-label govuk-label--xl" for="parent-city-of-birth">
              <span class="govuk-caption-xl">Part 3 of 4: Father’s details</span>    
              <h1 class="govuk-fieldset__heading">
               City or town where father was born
              </h1>
            </legend>
          <input class="govuk-input" id="parent-city-of-birth" name="parent-city-of-birth" type="text" value="{{ data['parent-city-of-birth'] }}">
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
