{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}


{% block pageTitle %}
   Has the mother changes the address – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<form class="form" action="is-mother-and-father-address-same" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">Part 3 of 4: Father’s details</span>    
              <h1 class="govuk-fieldset__heading">
               Is father’s current address same as mother’s?
              </h1>
            </legend>

            <p class="govuk-body">Mother’s current address:
            {{ data['mother-place-of-birth-flat'] }} 
          {{ data['mother-place-of-birth-building-name'] }}
          {{ data['mother-place-of-birth-building-number'] }} 
          {{ data['mother-place-of-birth-street'] }} 
          {{ data['mother-place-of-birth-line-2'] }} 
          {{ data['mother-place-of-birth-line-3'] }} 
          {{ data['mother-place-of-birth-line-4'] }} 
          {{ data['mother-place-of-birth-town'] }} 
          {{ data['mother-place-of-birth-county'] }} 
          {{ data['mother-place-of-birth-postcode'] }}
          </p>
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-address-same1" name="father-address-same" type="radio" value="Yes" {{checked("father-address-same", "Yes")}}>
                <label class="govuk-label govuk-radios__label" for="father-address-same1">
                 Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-address-same2" name="father-address-same" type="radio" value="No" {{checked("father-address-same", "No")}}>
                <label class="govuk-label govuk-radios__label" for="father-address-same2">
                  No
                </label>
              </div>
            </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
