{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}

{% block pageTitle %}
   Father's name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<form class="form" action="check-details" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
        
           <div class="govuk-form-group">
            <span class="govuk-caption-xl">Part 3 of 4: Father’s details</span>
             <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="father-job-role">
                Job role or occupation
              </label>
            </h1>
            <div id="job-role-hint" class="govuk-hint">
              For example ‘secondary school maths teacher’ or ‘not employed’
            </div>
            <input class="govuk-input" id="father-job-role" name="father-job-role" type="text" value="{{ data['father-job-role'] }}">
          </div>
          
        </fieldset>
      </div>
     

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
