{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}

{% block pageTitle %}
   parent's name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data['change-link-parent'] == 'true' %}
  <form class="form" action="check-details" method="post">
{% else %}
<form class="form" action="is-name-current-legal-name" method="post">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Part 3 of 4: Father’s details</span>
      <h1 class="govuk-heading-xl">
        Father's name
      </h1>
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-form-group">
            <label class="govuk-label" for="parent-prefix">
              Prefix (optional)
            </label>
            
            <input class="govuk-input" id="parent-prefix" name="parent-prefix" type="text" value="{{ data['parent-prefix'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="parent-first-name">
              Father’s first name
            </label>
            
            <input class="govuk-input" id="parent-first-name" name="parent-first-name" type="text" value="{{ data['parent-first-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="parent-middle-name">
              Father’s middle names (optional)
            </label>
            <input class="govuk-input" id="parent-middle-name" name="parent-middle-name" type="text" value="{{ data['parent-middle-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="parent-last-name">
              Father’s last name
            </label>
            <input class="govuk-input" id="parent-last-name" name="parent-last-name" type="text" value="{{ data['parent-last-name'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="parent-suffix">
              Suffix (optional)
            </label>
           
            <input class="govuk-input" id="parent-suffix" name="parent-suffix" type="text" value="{{ data['parent-suffix'] }}">
          </div>
        </fieldset>
      </div>
     

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
