{% extends "layouts/main.html" %}


{% block pageTitle %}
   Has the mother changes the address – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data ['declaration-change'] == 'true'%}
  <form class="form" action="../declaration/declaration" method="post">
{% elif data['change-link-parent'] == 'true' %}
  <form class="form" action="check-details" method="post">
{% else %}
<form class="form" action="is-mother-and-father-address-same" method="post">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">
                 {%if data['who-registers'] == 'Father'%}
                  Part 3 of 4: Father’s details
                  {%else%}
                  Part 3 of 4: Parent’s details
                  {%endif%}   
              </span>    
              <h1 class="govuk-fieldset__heading">
               Is father’s current address same as mother’s?
              </h1>
            </legend>

            {%if data['address-changed'] === 'Yes'%}
            <p class="govuk-body">Mother’s current address:
            {{ data['mother-current-flat'] }} 
          {{ data['mother-current-building-name'] }}
          {{ data['mother-current-building-number'] }} 
          {{ data['mother-current-street'] }} 
          {{ data['mother-current-line-2'] }} 
          {{ data['mother-current-line-3'] }} 
          {{ data['mother-current-line-4'] }} 
          {{ data['mother-current-town'] }} 
          {{ data['mother-current-county'] }} 
          {{ data['mother-current-postcode'] }}
          </p>
          {% else %}
           <p class="govuk-body">Mother’s current address:
          {{ data['mother-place-of-birth-flat'] }} 
          {{ data['mother-place-of-birth-building-name'] }}
          {{ data['mother-place-of-birth-building-number'] }} 
          {{ data['mother-place-of-birth-street'] }} 
          {{ data['mother-place-of-birth-line-2'] }} 
          {{ data['mother-place-of-birth-line-3'] }} 
          {{ data['mother-place-of-birth-line-4'] }} 
          {{ data['mother-place-of-birth-town'] }} 
          {{ data['mother-place-of-birth-county'] }} 
          {{ data['mother-place-of-birth-postcode'] }}
           </p>
          {%endif%}
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-address-same1" name="father-address-same" type="radio" value="Yes" {{checked("father-address-same", "Yes")}}>
                <label class="govuk-label govuk-radios__label" for="father-address-same1">
                 Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="father-address-same2" name="father-address-same" type="radio" value="No" {{checked("father-address-same", "No")}}>
                <label class="govuk-label govuk-radios__label" for="father-address-same2">
                  No
                </label>
              </div>
            </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Save and continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
