{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}


{% block pageTitle %}
   Has the mother changes the address – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data['change-link-mother'] == 'true' %}
  <form class="form" action="check-details" method="post">
{% else %}
<form class="form" action="mother-changed-address" method="post">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <span class="govuk-caption-xl">Part 2 of 4: Mother’s details</span>    
              <h1 class="govuk-fieldset__heading">
               Has mother changed address since the birth?
              </h1>
            </legend>
            
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="address-changed1" name="address-changed" type="radio" value="Yes" {{checked("address-changed", "Yes")}}>
                <label class="govuk-label govuk-radios__label" for="address-changed1">
                 Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="address-changed2" name="address-changed" type="radio" value="No" {{checked("address-changed", "No")}}>
                <label class="govuk-label govuk-radios__label" for="address-changed2">
                  No
                </label>
              </div>
            </div>
        </fieldset>
      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
