{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}

{% block pageTitle %}
   Mother's details – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data['who-registers'] == 'single-mother' %}
<form class="form" action="../statistical/info-for-services" method="post">
{% else %}
<form class="form" action="../parent-details/name-change" method="post">
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
     <span class="govuk-caption-xl">Part 2 of 4: Mother’s details</span>
      <h1 class="govuk-heading-xl">
        Mother's details
      </h1>

      <div class="govuk-inset-text">
        Information will be shown on the birth certificate exactly as provided in this service
      </div>
  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name at the time of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mother-prefix'] }} {{ data['mother-first-name'] }} {{ data['mother-middle-name'] }} {{ data['mother-last-name'] }} {{ data['mother-suffix'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="name-change.html">Change<span class="govuk-visually-hidden">name</span></a>
          </dd>
        </div>

       
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Maiden name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['maiden-name'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="is-the-name-maiden-name.html">Change<span class="govuk-visually-hidden">maiden name</span></a>
          </dd>
        </div>

        {% if data['mother-current'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mother-current'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="is-name-current-legal-name.html">Change<span class="govuk-visually-hidden">maiden name</span></a>
          </dd>
        </div>
        {% else %}
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {{data['country-of-birth'] or 'Wales'}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="country-of-birth.html">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            City of town of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {{data['mother-city-of-birth'] or 'Cardiff'}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="city-mother-was-born.html">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address at the time of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['mother-place-of-birth-flat'] }} 
          {{ data['mother-place-of-birth-building-name'] }}
          {{ data['mother-place-of-birth-number'] }} 
          {{ data['mother-place-of-birth-street'] }} 
          {{ data['mother-place-of-birth-line-2'] }} 
          {{ data['mother-place-of-birth-line-3'] }} 
          {{ data['mother-place-of-birth-line-4'] }} 
          {{ data['mother-place-of-birth-town'] }} 
          {{ data['mother-place-of-birth-county'] }} 
          {{ data['mother-place-of-birth-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="address-birth-manual.html">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

        {% if (data['address-changed'] == "Yes") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current address
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['mother-current-flat'] }} 
          {{ data['mother-current-building-name'] }}
          {{ data['mother-current-number'] }} 
          {{ data['mother-current-street'] }} 
          {{ data['mother-current-line-2'] }} 
          {{ data['mother-current-line-3'] }} 
          {{ data['mother-current-line-4'] }} 
          {{ data['mother-current-town'] }} 
          {{ data['mother-current-county'] }} 
          {{ data['mother-current-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="changed-address.html">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>
        {% else %}
        {% endif %}

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
          {{data['mother-job-role'] or 'Train driver'}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="job-role.html">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

    </dl>

    {% if data['who-registers'] == 'single-mother' %}
      {{ govukButton({
        text: "Continue to information about government services"
      }) }}
    {% else %}
       {{ govukButton({
        text: "Continue to Father’s details"
      }) }}
    {% endif %}
      
    </div>


  </div>
</form>

{% endblock %}
