{% extends "layouts/main.html" %}


{% block pageTitle %}
   Mother's country of birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data ['declaration-change'] == 'true'%}
  <form class="form" action="../declaration/declaration" method="post">
{% elif data['change-link-mother'] == 'true' %}
  <form class="form" action="check-details" method="post">
{% else %}
<form class="form" action="city-mother-was-born" method="post">
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Part 2 of 4: Mother’s details</span>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
            <h1 class="govuk-fieldset__heading">
              Country mother was born in
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-of-birth" name="country-of-birth" type="radio" value="England" {{checked("country-of-birth", "England")}}>
              <label class="govuk-label govuk-radios__label" for="country-of-birth">
                England
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-of-birth-2" name="country-of-birth" type="radio" value="Northern Ireland" {{checked("country-of-birth", "Northern Ireland")}}>
              <label class="govuk-label govuk-radios__label" for="country-of-birth-2">
               Northern Ireland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-of-birth-3" name="country-of-birth" type="radio" value="Scotland" {{checked("country-of-birth", "Scotland")}}>
              <label class="govuk-label govuk-radios__label" for="country-of-birth-3">
                Scotland
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-of-birth-4" name="country-of-birth" type="radio" value="Wales" {{checked("country-of-birth", "Wales")}}>
              <label class="govuk-label govuk-radios__label" for="country-of-birth-4">
                Wales
              </label>
            </div>
             <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-of-birth-5" name="country-of-birth" type="radio" value="Outside of the UK" {{checked("country-of-birth", "Outside of the UK")}} data-aria-controls="conditional-outside-uk">
              <label class="govuk-label govuk-radios__label" for="country-of-birth-5">
                Outside of the UK
              </label>
            </div>
             <div class="govuk-radios__conditional" id="conditional-outside-uk">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="other-country">
                    Country of birth
                  </label>
                  <input class="govuk-input" id="other-country" name="other-country" spellcheck="false" aria-describedby="other-country" value="{{ data['other-country'] }}" >
                </div>
              </div>
             <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="country-of-birth-6" name="country-of-birth" type="radio" value="Unknown" {{checked("country-of-birth", "Unknown")}}>
              <label class="govuk-label govuk-radios__label" for="country-of-birth-6">
                I don't know
              </label>
            </div>
          </div>
        </fieldset>
      </div>
     


      {{ govukButton({
        text: "Continue"
            }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
