{% extends "layouts/main.html" %}
{% extends "layouts/one-login.html" %}


{% block pageTitle %}
   Child's date of birth - – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<form class="form" action="enter-mother-last-name" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="child-birth-hint">
          
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-xl">Find NHS record</span>
            <h1 class="govuk-fieldset__heading">
              Enter child’s date of birth
            </h1>
          </legend>
          <div id="child-birth-hint" class="govuk-hint">
            For example, 23 11 2024
          </div>
          <div class="govuk-date-input" id="child-birth">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="child-birth-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child-birth-day" name="child-birth-day" value="{{data['child-birth-day']}}" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="child-birth-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="child-birth-month" name="child-birth-month" value="{{data['child-birth-month']}}" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="child-birth-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="child-birth-year" name="child-birth-year" value="{{data['child-birth-year']}}" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
    </div>   

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>
</form>
{% endblock %}
