{% extends "layouts/main.html" %}
{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}


{% block pageTitle %}
   NHS record found – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    {% if data['child-nhs-number'] === '1234567890' and data['child-birth-day'] === '17' and data['child-birth-month'] === '05' and data['child-birth-year'] === '2025' and data['mother-last-name'] === 'Williams' %}
      
      <h1 class="govuk-heading-xl">
          NHS record found
      </h1>
  
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Child's NHS number
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['child-nhs-number'] or '123 456 7890' }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Child's date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['child-birth-day'] or '17' }} {{ data['child-birth-month'] or 'May' }} {{ data['child-birth-year'] or '2025' }}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mother’s last name
        </dt>
        <dd class="govuk-summary-list__value">
         {{data['mother-last-name'] or 'Williams'}} 
        </dd>
      </div>
    </dl>


      {{ govukButton({
        text: "Continue to registration",
        href: "register-a-birth"
      }) }}

      
     {% else %}
       <h1 class="govuk-heading-xl">
          NHS record not found
      </h1>

      <p class="govuk-body">Register the birth in person if you cannot access NHS record.</p>
      <p class="govuk-body">NHS records might not be available if:</p>
       <ul class="govuk-list govuk-list--bullet">
          <li>NHS records have not been updated (it usually takes up to 36 hours)  </li>
          <li>there’s an error in the information provided </li>
        </ul>

          <form class="form" action="search-again" method="post">
            {{ govukRadios({
              idPrefix: "search-again",
              name: "searchAgain",
              fieldset: {
                legend: {
                  text: "Do you want to search again? ",
                  isPageHeading: true,
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                { value: "yes", text: "Yes, re-enter information to find NHS record" },
                { value: "no", text: "No, I’ll contact the local register office" }
              ]
            }) }}

            {{ govukButton({
            text: "Continue"
          }) }}

          </form>

     {% endif %} 
    
    </div>
  </div>

{% endblock %}
