{% extends "layouts/main.html" %}

{% block pageTitle %}
   Register a birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Register a birth
        </h1>

        <h2 class="govuk-heading-l">
            What you need to provide
        </h2>
        
        <!--unmarried mother-->


<h3 class="govuk-heading-m">Part 1: Child’s details </h3>

<p class="govuk-body">Including name, place and date of birth, and gender.</p>

<h3 class="govuk-heading-m">Part 2: Mother’s details.</h3>

<p class="govuk-body">Including name, place of birth, job role, and previous names.</p>

<h3 class="govuk-heading-m">Part 3: Questions for government services</h3>

<p class="govuk-body">For example, your date of birth and employment status.</p>

<h2 class="govuk-heading-l">Saving your answers</h2>

<p class="govuk-body">You can save answers after each section if you need to stop and continue later.</p>

<h2 class="govuk-heading-l">Entering the {father/parent}’s details</h2>

<p class="govuk-body">You’ll get a unique invite link to send to the {father/parent}. </p>

<p class="govuk-body">They’ll use the link to:</p>

<ul class="govuk-list govuk-list--bullet">
  <li>agree to be part of the registration</li>
  <li>add their own details, such as name, place of birth</li>
</ul>

<p class="govuk-body">Afterwards, you’ll use the service to confirm registration is ready to submit to the register office.</p>

<h2 class="govuk-heading-l">Birth certificates</h2>

<p class="govuk-body">You can order birth certificates after the {father/parent}  provides their details.</p>
       
      <!-- single mother -->
        {% if data['registrationOptions'] == 'mother-only' %}

         <p class="govuk-body">There are three parts to the registration:</p>

          <ul class="govuk-list govuk-list--number">
            <li>Child’s details</li>
            <li>Mother’s details</li>
            <li>Survey questions for government statistics</li>
          </ul>
       
        {% else %}

         <!-- if parents and married -->

          <p class="govuk-body">There are four parts to the registration:</p>

          <ul class="govuk-list govuk-list--number">
            <li>Child’s details</li>
            <li>Mother’s details</li>
            {% if data['second-parent'] == 'Father' or data['who-registers'] == 'Father' %}
            <li>Father's details</li>
            {% else %}
            <li>Parent's details</li>
            {% endif %}
            <li>Survey questions for government statistics</li>
          </ul>

        {% endif%}

      {{ govukButton({
        text: "Continue to child’s details",
        href: "name"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}