{% extends "layouts/main.html" %}

{% block pageTitle %}
   Mother'otherwise-s name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<form class="form" action="name-prefix" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-xl">Part 2 of 4: Mother’s details</span>    
        <h1 class="govuk-fieldset__heading">
          What other name does {{data['mother-first-name']}} {{data['mother-middle-name']}} {{data['mother-last-name']}} use?
        </h1>
      </legend>
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
         
           <div class="govuk-form-group">
            <label class="govuk-label" for="mother-otherwise-first-name">
              First name
            </label>
            
            <input class="govuk-input" id="mother-otherwise-first-name" name="mother-otherwise-first-name" type="text" value="{{ data['mother-otherwise-first-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="mother-otherwise-middle-name">
              Middle names (optional)
            </label>
            <input class="govuk-input" id="mother-otherwise-middle-name" name="mother-otherwise-middle-name" type="text" value="{{ data['mother-otherwise-middle-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="mother-otherwise-last-name">
              Last name
            </label>
            <input class="govuk-input" id="mother-otherwise-last-name" name="mother-otherwise-last-name" type="text" value="{{ data['mother-otherwise-last-name'] }}">
          </div>

        </fieldset>
      </div>
     

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
