{% extends "layouts/main.html" %}

{% block pageTitle %}
   {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "https://www.gov.uk/"
      },
      {
        text: "Pregnancy and birth",
        href: "https://www.gov.uk/browse/childcare-parenting/pregnancy-birth"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

  
      <p>Births in England and Wales must be registered (online or in-person) within 42 days.</p>
      <p>After a birth registration, you can apply for government services, such as child benefit or your child’s passport.</p>

      <h2 class="govuk-heading-l">
        What you need to provide
      </h2>

      <p class="govuk-body">To register you’ll give:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>child’s name, date of birth and NHS number </li>
        <li>birth mother’s details</li>
        <li>father (or female parent) details</li>
        <li>proof of identification (a document or online with GOV.UK One Login)</li>
      </ul>

      <h2 class="govuk-heading-l">
        How to register
      </h2>

      <p>Depending on your situation, you may need to provide other documents.</p>

      <p>Enter your details to find out how to register.</p>


      {{ govukButton({
        text: "Start now",
        href: "where-the-child-was-born",
        isStartButton: true
      }) }}

      
    </div>


  </div>

{% endblock %}
