{% extends "layouts/main.html" %}

{% block pageTitle %}
   Birth registration details – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<form class="form" action="#ß" method="post">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
     <span class="govuk-caption-xl">Birth registration details</span>
      <h1 class="govuk-heading-xl">
        Birth certificate details
      </h1>

      <div class="govuk-inset-text">
        Check carefully. This Information will be shown on the birth certificate exactly as provided in this service.
      </div>

      <h2 class="govuk-heading-m">
            Child
      </h2>
  
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['prefix'] }} {{ data['child-first-name']}} {{ data['child-middle-name']}} {{ data['child-last-name']}} {{ data['suffix'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../child-details/name?declaration-change=true">Change<span class="govuk-visually-hidden">name</span></a>
          </dd>
        </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Date of birth
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['child-DOB-day']}} {{ data['child-DOB-month']}} {{ data['child-DOB-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../child-details/date-of-birth?declaration-change=true">Change<span class="govuk-visually-hidden">date of birth</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sex
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data["sex"]}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../child-details/sex-change?declaration-change=true">Change<span class="govuk-visually-hidden">sex</span></a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Place of birth
            </dt>
            <dd class="govuk-summary-list__value">
            {{ data['choose-country']}} 
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="../child-details/place-of-birth-change?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
            </dd>
          </div>
    </dl>

    <h2 class="govuk-heading-m">
        Mother
    </h2>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name at the time of birth
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mother-prefix'] }} {{ data['mother-first-name'] }} {{ data['mother-middle-name'] }} {{ data['mother-last-name'] }} {{ data['mother-suffix'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../mother-details/name?declaration-change=true">Change<span class="govuk-visually-hidden">name</span></a>
          </dd>
        </div>

       {% if data['maiden-name'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Maiden name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['maiden-name'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../mother-details/is-the-name-maiden-name?declaration-change=true">Change<span class="govuk-visually-hidden">maiden name</span></a>
          </dd>
        </div>
        {% else %}
        {% endif %}

        {% if data['mother-current'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['mother-current'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../mother-details/is-name-current-legal-name?declaration-change=true">Change<span class="govuk-visually-hidden">maiden name</span></a>
          </dd>
        </div>
        {% else %}
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {% if data['country-of-birth'] == 'Outside of the UK' %}
            {{data['other-country']}}
          {% else %}
            {{data['country-of-birth']}}
          {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../mother-details/country-of-birth?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            City of town of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {{data['mother-city-of-birth']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../mother-details/city-mother-was-born?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address at the time of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['mother-place-of-birth-street'] }} 
          {{ data['mother-place-of-birth-line-2'] }} 
          {{ data['mother-place-of-birth-town'] }} 
          {{ data['mother-place-of-birth-county'] }} 
          {{ data['mother-place-of-birth-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../mother-details/address-birth-manual?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

        {% if (data['address-changed'] == "Yes") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current address
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data['mother-current-street'] }} 
          {{ data['mother-current-line-2'] }} 
          {{ data['mother-current-town'] }} 
          {{ data['mother-current-county'] }} 
          {{ data['mother-current-postcode'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../mother-details/changed-address?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>
        {% else %}
        {% endif %}

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
          {{data['mother-job-role']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../mother-details/job-role?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

    </dl>

     {% if data['registrationOptions'] == 'mother-only' %}
     {% else %}

    <h2 class="govuk-heading-m">
       {%if data['second-parent'] == 'Father' or data['who-registers'] == 'Father'%}
       Father
        {%else%}
       Parent
        {%endif%}   
    </h2>

    <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name 
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['parent-prefix'] }} {{ data['parent-first-name'] }} {{ data['parent-middle-name'] }} {{ data['parent-last-name'] }} {{ data['parent-suffix'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../parent-details/name?declaration-change=true">Change<span class="govuk-visually-hidden">name</span></a>
          </dd>
        </div>

        {% if data['is-name-current-parent'] === 'Yes' %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Current last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['father-current'] }} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../parent-details/is-name-current-legal-name?declaration-change=true">Change<span class="govuk-visually-hidden">maiden name</span></a>
          </dd>
        </div>
        {% else %}
        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {% if data['country-of-birth-parent'] == 'Outside of the UK' %}
            {{data['other-country-parent']}}
          {% else %}
            {{data['country-of-birth-parent']}}
          {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../parent-details/country-of-birth?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            City of town of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {{data['parent-city-of-birth']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../parent-details/city-of-birth?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address at the time of birth
          </dt>
          <dd class="govuk-summary-list__value">
          {{data['father-city-of-birth']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../parent-details/is-current-address-same?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
          {{data['father-job-role']}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="../parent-details/job-role?declaration-change=true">Change<span class="govuk-visually-hidden">place of birth</span></a>
          </dd>
        </div>

    </dl>
    {% endif %}


    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      
    </legend>
    
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
        <label class="govuk-label govuk-checkboxes__label" for="waste">
          I confirm that the particulars given by me are true to the best of my knowledge and belief.
        </label>
      </div>
      
    </div>
  </fieldset>
</div>

      {{ govukButton({
        text: "Continue to payment"
      }) }}

      
    </div>


  </div>
</form>

{% endblock %}
