{% extends "layouts/main.html" %}

{% block pageTitle %}
   Mother'formerly-known-us-s name – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}


<form class="form" action="add-other-current-names" method="post">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Part 2 of 4: Mother’ details</span>
      <h1 class="govuk-heading-xl">
       What’s the previous name used?
      </h1>
        
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
         
           <div class="govuk-form-group">
            <label class="govuk-label" for="mother-formerly-known-us-first-name">
              First name
            </label>
            
            <input class="govuk-input" id="mother-formerly-known-us-first-name" name="mother-formerly-known-us-first-name" type="text" value="{{ data['mother-formerly-known-us-first-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="mother-formerly-known-us-middle-name">
              Middle names (optional)
            </label>
            <input class="govuk-input" id="mother-formerly-known-us-middle-name" name="mother-formerly-known-us-middle-name" type="text" value="{{ data['mother-formerly-known-us-middle-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="mother-formerly-known-us-last-name">
              Last name
            </label>
            <input class="govuk-input" id="mother-formerly-known-us-last-name" name="mother-formerly-known-us-last-name" type="text" value="{{ data['mother-formerly-known-us-last-name'] }}">
          </div>
           <div class="govuk-form-group">
            <label class="govuk-label" for="mother-formerly-known-us-prefix">
              Hereditary or bestowed titles (optional)
            </label>
            <div id="child-first-name-hint" class="govuk-hint">
              Do not include titles such as ‘Mr’ or Miss’. Only add legally inherited or awarded titles, such as ‘Lady’ or ‘OBE’
            </div>
            <input class="govuk-input" id="mother-formerly-known-us-prefix" name="mother-formerly-known-us-prefix" type="text" value="{{ data['mother-formerly-known-us-prefix'] }}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="mother-formerly-known-us-suffix">
              Suffix (optional)
            </label>
           
            <input class="govuk-input" id="mother-formerly-known-us-suffix" name="mother-sformerly-known-us-uffix" type="text" value="{{ data['mother-formerly-known-us-suffix'] }}">
          </div>
        </fieldset>
      </div>
     

      {{ govukButton({
        text: "Save and continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}
