{% extends "layouts/main.html" %}

{% block pageTitle %}
   Find NHS record – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<form class="form" action="child-details" method="post">


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
     <span class="govuk-caption-xl">Child's details</span>
      <h1 class="govuk-heading-xl">
        Child's details
      </h1>    
  
      <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
            {{ data['child-first-name'] or 'Baby' }} {{ data['child-middle-name'] or '' }} {{ data['child-last-name'] or 'Wimbledon' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="name-change.html">Change<span class="govuk-visually-hidden">name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sex
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["sex"] or 'Male' }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="sex-change.html">Change<span class="govuk-visually-hidden">sex</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Place of birth
        </dt>
        <dd class="govuk-summary-list__value">
         {{data['choose-country'] or 'Hospital, Long Street, N16 9RE'}} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="place-of-birth-change.html">Change<span class="govuk-visually-hidden">place of birth</span></a>
        </dd>
      </div>
    </dl>


      {{ govukButton({
        text: "Continue to Mother’s details"
      }) }}

      
    </div>


  </div>
</form>

{% endblock %}
