{% extends "layouts/main.html" %}

{% block pageTitle %}
   Contact preference – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">  

              <p class="govuk-body">
                Certificates are sent by post when the registration is complete.
              </p>
              <p class="govuk-body">
               Birth certificates are £12.50 each (including delivery)</p>
               <p class="govuk-body"> do not pay a fee for the registration. 
              </p>
              <form action="certificate-choice" method="post">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                      Do you want to order certificates now?
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="certificate-order" name="certificate-order" type="radio" value="yes" {{checked('certificate-order', 'yes') }}>
                        <label class="govuk-label govuk-radios__label" for="certificate-order">
                          Yes, I’ll order certificates
                        </label>
                        <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                          Certificates are £12.50 for each copy
                        </div>
                      </div>
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="certificate-order-2" name="certificate-order" type="radio" value="no" {{checked('certificate-order', 'no') }}>
                        <label class="govuk-label govuk-radios__label" for="certificate-order-2">
                          No, I do not want to order certificates
                        </label>
                        <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
                          You can order certificates online or from the register office any time after the register office confirms the registration is complete.
                        </div>
                      </div>
                    </div>
                  </fieldset>
                </div>

            {{ govukButton({
              text: "Continue"
            }) }}
      </form>  
    </div>

  </div>

</form>  

{% endblock %}
