{% extends "layouts/main.html" %}

{% block pageTitle %}
   Register a birth – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Birth registration: Rose Allen
        </h1>

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Update
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Father or parent declined to join registration
            </p>
            <p class="govuk-body">
              You can register a birth with your details only, or delete this application for now.
            </p>
          </div>
        </div>


        <p class="govuk-body">
          You cannot record the {father/parent}’s details without their agreement.
        </p>

       <p class="govuk-body"> 
          You’ll need to register the birth with only you - the mother - recorded as your child’s parent.
       </p>


      <h3 class="govuk-heading-m">
        Adding {father/parent}’s details after registration
      </h3>

      <p class="govuk-body">
          {Father/Parent} details can be recorded on the birth certificate in a re-registration. You may need to apply to court to declare the {father/parent} is your child’s parent.
      </p>

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "howcontinue",
  fieldset: {
    legend: {
      text: "How do you want to continue the birth registration?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "make-changes",
      text: "Make changes to details",
      hint: {
        text: "Update information about you or your child"
      },
      conditional: {
        html: '<a href="cya-change-details-after-request.html" class="govuk-button" data-module="govuk-button">Continue</a>'
      }
    },
    {
      value: "singlemum",
      text: "Register the birth with only your details",
      hint: {
        text: "You can register without the father's or parent's details if you cannot agree to their request"
      },
      conditional: {
        html: '<a href="single-mother-confirmation.html" class="govuk-button" data-module="govuk-button">Continue</a>'
      }
    },
    {
      value: "delete",
      text: "Delete application",
      hint: {
        text: "For example, if you need support or help from the register office"
      },
      conditional: {
        html: '<a href="confirm-application-deleted.html" class="govuk-button govuk-button--warning" data-module="govuk-button">Continue</a>'
      }
    }
  ]
}) }}

      
    </div>


  </div>

</form>  

{% endblock %}
