{% extends "layouts/main.html" %}

{% block pageTitle %}
   Father's prefix – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

{% if data ['declaration-change'] == 'true'%}
  <form class="form" action="../declaration/declaration" method="post">
{% elif data ['change-link'] == 'true' %}
  <form class="form" action="check-details" method="post">
{% else %}
  <form class="form" action="name-suffix" method="post">
{% endif %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-xl">Part 3 of 4: Father’s details</span>    
        <h1 class="govuk-fieldset__heading">
          Does {{data['parent-first-name']}} {{data['parent-middle-name']}} {{data['parent-last-name']}} have any hereditary titles?
        </h1>
      </legend>
        
      <div class="govuk-inset-text">
        Only enter official or inherited titles - such as ‘HRH’
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parent-prefix-yes" name="parent-prefix" type="radio" value="yes" data-aria-controls="conditional-parent-prefix" {{ checked('parent-prefix', 'yes') }}>
              <label class="govuk-label govuk-radios__label" for="parent-prefix-yes">
                Yes
              </label>
            </div>

            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-parent-prefix">
              <div class="govuk-form-group">
                <label class="govuk-label" for="parent-prefix-text">
                  Hereditary title
                </label>
                <input class="govuk-input govuk-!-width-half" id="parent-prefix-text" name="parent-prefix-text" type="text">
              </div>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="parent-prefix-no" name="parent-prefix" type="radio" value="no" {{ checked('parent-prefix', 'no') }}>
              <label class="govuk-label govuk-radios__label" for="parent-prefix-no">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
     

      {{ govukButton({
        text: "Continue"
      }) }}

      
    </div>


  </div>

</form>  

{% endblock %}