{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName + ' prototypes' }}
    </h1>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Registration</h2>
    <p class="govuk-body">
      Users find NHS record (notification) and confirm or enter data to register a birth.
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Round 1 <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
       WIP
     </strong></h3>

    <p class="govuk-body">
      <a href="registration/v1a/one-login-dashboard.html" class="govuk-link">Version 1A</a> - questions first
    </p>

     <p class="govuk-body">
      <a href="registration/v1b/one-login-dashboard.html" class="govuk-link">Version 1B</a> - CYA first
    </p>

    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Aga, Stefan or Sian</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Triage journey</h2>

    <p class="govuk-body">
      Users checks eligebility for service channels  and is directed to right guidance and options. 
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Round 2 <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
       WIP
     </strong></h3>

     <p class="govuk-body">
      <a href="triage/v2/start-page.html" class="govuk-link">Version 2</a> - mostly static content.
    </p>


    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Round 1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
        Tested
     </strong></h3>

    <p class="govuk-body">
      <a href="triage/v1/start-page.html" class="govuk-link">Version 1</a> -  verify informant qulification and show relevant information about registration options.
    </p>

    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Aga, Stefan or Sian</p>
    

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  </div>
</div>

{% endblock %}
