{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      {{ serviceName + ' prototypes' }}
    </h1>

<h2 class="govuk-heading-l">Round 6</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> <strong class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">
       Work in progress
     </strong></h3>

     <p class="govuk-body">
      <a href="full_journey/v2_joint-reg-mother-a/triage/outcome-unmarried-opposite.html" class="govuk-link">Unmarried parents journey</a>: reduced journey
    </p>

    <ul class="govuk-list govuk-list--bullet">
        <li>Start page - Unmarried parents</li>
        <li>Childs name</li>
        <li>Mother's name(s)</li>
        <li>CYA - invite father/parent</li>
        <li><a href="full_journey/v2_joint-reg-mother-a/invite-parent/invite-parent-to-register.html">Confirmation - invite father/parent</a></li>
        <li>Mother's email - details submitted confirmation</li>
        <li>Mother's email - invite link</li>
        <li>Mother's email - father/parent submitted</li>
        <li>Mother's email - father/parent declined</li>
        <li><a href="full_journey/v2_joint-reg-mother-a/invite-parent/rejoin-parent-submitted.html">Mother landing update - father/parent submitted</a></li>
        <li><a href="full_journey/v2_joint-reg-mother-a/invite-parent/rejoin-parent-declined.html">Mother landing update - father/parent declined</a></li>
        <li><a href="full_journey/v2_joint-reg-mother-a/invite-parent/rejoin-parent-waiting.html">Mother landing update - father/parent waiting</a></li>
        <li><a href="full_journey/v2_joint-reg-mother-a/invite-parent/rejoin-parent-joined.html">Mother landing update - father/parent joined</a></li>
        <li><a href="full_journey/v2_joint-reg-mother-a/submitting-registration/before-you-submit.html">Before you submit - mother</a></li>
        <li>CYA - final check</li>
        <li><a href="full_journey/v2_joint-reg-mother-a/payment/confirmation-page-no-payment.html">Confirmation - registration submitted</a></li>
        

    </ul>

    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 5: Damian, Stefan or Sian</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Round 5</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
       Tested
     </strong></h3>

     <p class="govuk-body">
      <a href="govuk-pages_v3/version_a/overview.html" class="govuk-link">GOV.UK pages v.3 A</a>: question approach
    </p>

     <p class="govuk-body">
      <a href="govuk-pages_v3/version_b/overview.html" class="govuk-link">GOV.UK pages v.3 B</a>: static content version 
    </p>

    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Aga, Stefan or Sian</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Round 5</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2"> <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
       Tested
     </strong></h3>

     <p class="govuk-body">
      <a href="payment/v1/submitting-registration-data.html" class="govuk-link">Payment journey v.1</a>: 
    </p>

    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Aga, Stefan or Sian</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Round 4</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Full journey v.1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
       Tested
     </strong></h3>

     <p class="govuk-body">
      <a href="full_journey/v1/one-login-dashboard.html" class="govuk-link">Version 1</a>: 
    </p>
     <ul class="govuk-list govuk-list--bullet">
        <li>One Login dashboard</li>
        <li>Triage</li>
        <li>Find NHS record</li>
        <li>Registration details - child</li>
        <li>Registration details - mother</li>
        <li>Registration details - father/second parent</li>
        <li>Statistica questions/other</li>
        <li>Declaration page</li>

    </ul>

    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Aga, Stefan or Sian</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


    <h2 class="govuk-heading-l">Round 3</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">Registration v.2 <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
       Tested
     </strong></h3>

     <p class="govuk-body">
      <a href="registration/v2/who-will-register.html" class="govuk-link">Version 2</a>: Entering child's, mother's, parent's details and statistical questions.
    </p>
    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Aga, Stefan or Sian</p>


    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Round 2</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">GOV.UK pages, guidance and channel selection <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
       Tested
     </strong></h3>

     <p class="govuk-body">
      <a href="triage/v2/start-page.html" class="govuk-link">Version 2</a>: mostly static content.
    </p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">One Login dashboard, triage and registration <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
       Tested
     </strong></h3>

    <p class="govuk-body">
      <a href="registration/v1a/one-login-dashboard.html" class="govuk-link">Version 1A</a>: questions first
    </p>

     <p class="govuk-body">
      <a href="registration/v1b/one-login-dashboard.html" class="govuk-link">Version 1B</a>: CYA first
    </p>

     <p class="govuk-body">Find NHS record details: </p>
     <ul class="govuk-list govuk-list--bullet">
        <li>Child’s NHS number: 1234567890</li>
        <li>Child’s date of birth: 17 05 2025</li>
        <li>Mother’s last name: Williams</li>
    </ul>

    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Aga, Stefan or Sian</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Round 1</h2>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">GOV.UK pages and triage <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-2">
        Tested
     </strong></h3>

    <p class="govuk-body">
      <a href="triage/v1/start-page.html" class="govuk-link">Version 1</a>:  verify informant qulification and show relevant information about registration options.
    </p>

    <p class="govuk-body-s govuk-!-margin-top-6">Got a question? Team 3: Aga, Stefan or Sian</p>
    

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


  </div>
</div>

{% endblock %}
