{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% block pageTitle %}
  {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{{ govukOneLoginServiceHeader({ 
            navigationItems: [
            {
              href: "#example1",
              text: 'Example link 1',
              id: 'id1'
            },{
              href: "#example2",
              text: 'Example link 2',
              id: 'id2'
            },{
              href: "#example3",
              text: 'Example link 3',
              id: 'id3'
            }], 
            serviceName: "A very useful service with a relatively long name", 
            activeLinkId: "id3", 
            signOutLink: "/test" 
            }) 
          }}

{% endblock %}
        

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    Your content goes here.
  </div>
</div>

{% endblock %}