{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% block scripts %}

  {{ super() }}

  <script src="/public/javascripts/accessible-autocomplete.min.js"></script>

{% endblock %}

{% block stylesheets %}

  {{ super() }}

  <link href="/public/css/accessible-autocomplete.min.css" rel="stylesheet" type="text/css" />

{% endblock %}

{% block header %}
{{ govukOneLoginServiceHeader({ 
            navigationItems: [
            {
              href: "#example1",
              text: '',
              id: 'id1'
            }], 
            serviceName: "Register a birth", 
            activeLinkId: "/registration/v1b/child-details/one-login-dashboard.html", 
            signOutLink: "/test" 
            }) 
          }}

{% endblock %}







